<h1>Welcome to the Adnat Dashboard</h1>

<h2><%= "Logged in as #{@id}" %></h2>
<h2><%= "Organisation #{}" %></h2>

<a>View Shifts</a>
<a>Edit</a>
<a>Leave</a>

<table>
    <%# Table headings %>
    <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length (minutes)</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
    </tr>
    <%# <% @user.each do |user| %>

</table>


<%# Add these to css file %>

<%# table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
} %>