<h1>Welcome to the Adnat Dashboard</h1>

<%= "Logged in as #{@id}" %></br>

<%= "Organisation #{}" %></br>

<a>View Shifts</a>
<a>Edit</a>
<a>Leave</a>

<table>
    <%# Table headings %>
    <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length (minutes)</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
    </tr>


</table>

    <% 10.times do |n| %>
        <%= "#{n}" %>
    <% end %>

<%# Add these to css file %>

<%# table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
} %>