<h1>Welcome to the Adnat Dashboard</h1>

<h2><%= "Logged in as #{@id}" %></h2>
<h2><%= "Organisation #{}" %></h2>

<a>View Shifts</a>
<a>Edit</a>
<a>Leave</a>

<%= render "partials/form" %>


<%# Add these to css file %>

<%# table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
} %>